.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: calc(10px + 2vmin);
  color: white;
}

.diamond-widget {
  padding: calc(0.5vh + 5px) calc(1vw + 10px);
  border-radius: 2px;
  background-color: white;
  color: #44474d;
  font-size: calc(0.5vh + 16px);
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  p {
    margin: 0px;
  }
  .diamond-icon {
    max-height: calc(0.5vh + 18px);
    padding-right: 6px;
    position:relative;
    bottom: -3px;
  }
  .diamond-count {
    position: relative;
    bottom: 1px;
  }
}

.diamond-widget:hover {
  background-color: #eeeeee;
}

.gameRender {
  min-height: 40vh;
  color: #44474d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.room-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 35vh;
  overflow: scroll;
}

.gameControls {
  min-height: 5vh;
}

.footer {
  min-height: 15vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.welcome-splash {
  padding-top: 5vh;
}

.App-link {
  color: #32c5ee;
}

.App-link:hover {
  color: #2ab1d6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #44474d;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play-button {
  max-width: 80%;
  width: 240px;
  margin: auto;
  margin-top: 40px;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  a {
    text-decoration: none;
    color: white;
  }
}

button:hover, .play-button:hover {
  background-color: #45a049;
}

input:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(0, 150, 0, 0.5);
}

.status-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
  margin-left: 8px;
}

.status-indicator.status-ok {
  background-color: lightgreen;
}

.status-indicator.status-error {
  color: red;
}

.error-text {
  color: rgb(173, 21, 21);
}